html, body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.rebaseButton {
  border: none;
  padding: 0.7rem 1.3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.rebaseButton:hover {
  background: #dbdbdb;
}
